.App {
  text-align: center;
}

.App-banner {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-banner > input {
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid dimgrey;
  color: white;
  font-family: inherit;
  margin: 0px 5px;
  font-size: calc(10px + 2vmin);
  transition: all 0.5s;
}

.App-banner > input:focus {
  border-bottom: 2px solid turquoise;
}

.App-banner > input:hover {
  border-bottom: 2px solid turquoise;
}
